.header {
  backdrop-filter: blur(54.20000076293945px);
  background: rgba(46, 204, 113, 0.04);
  padding-top: 2px;
  padding-bottom: 2px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
    backdrop-filter: none;
    background: transparent;
    padding-top: 18px;
    padding-bottom: 0;
  }
}

.header-container {
}

.header-bg-wrapper {
  @include media(desktop) {
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media(desktop) {
    backdrop-filter: blur(54.20000076293945px);
    background: rgba(46, 204, 113, 0.04);
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

.header-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;

  @include media(desktop) {
    min-width: 98px;
  }
}

.header-logo-top-text {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 23px;
  text-align: center;
  color: #4a6a10;
  margin-right: auto;

  @include media(desktop) {
    font-size: 36px;
  }
}

.header-logo-bottom-text {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  color: #1e1e1e;
  margin-left: auto;
  margin-top: -7px;

  @include media(desktop) {
    font-size: 20px;
  }
}

.nav-list {
  display: none;

  @include media(desktop) {
    width: 100%;
    max-width: 1063px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px 67px;
  }
}

.nav-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #2d3436;
  transition: all 0.3s ease-in-out;

  &:hover,
  &.active {
    color: #4a6a10;
  }
}

.nav-list-link.active {
  color: #4a6a10;
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}
