.hero-section {
  background: linear-gradient(90deg, #f5f6f8 0%, #eaecee 100%);
}

.hero-wrapper {
  padding-top: 93px;
  padding-bottom: 117px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top 55px center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
    background-position: top 0 center;
  }
}

.hero-container {
}

.hero-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #4a6a10;
  margin-bottom: 169px;

  @include media(desktop) {
    font-size: 64px;
    margin-bottom: 60px;
  }
}

.hero-top-text {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #2d3436;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 24px;
    max-width: 543px;
    margin-bottom: 24px;
  }
}

.hero-bottom-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #2d3436;

  @include media(desktop) {
    font-size: 24px;
    max-width: 543px;
  }
}
