<section class="section contact-section" id="contact">
  <div class="container contact-container">
    <h2 class="section-title">Contact</h2>
    <div class="contact-content-wrapper">
      <picture>
        <source
          srcset="./img/contact/contact-bg-desk.png"
          media="(min-width: 1440px)"
          width="628"
          height="456"
        />
        <source
          srcset="./img/contact/contact-bg-mob.png"
          width="311"
          height="226"
        />
        <img
          class="contact-img"
          src="./img/contact/contact-bg-mob.png"
          alt="Field"
          width="311"
          height="226"
          loading="lazy"
        />
      </picture>
      <div class="contact-text-wrapper">
        <div class="contact-email-wrapper">
          <svg class="contact-email-icon" width="25" height="25">
            <use href="./img/sprite.svg#icon-email"></use>
          </svg>
          <div class="contact-email-text-wrapper">
            <p class="contact-email-text">Email:&nbsp;</p>
            <a href="mailto:hello@ecobyteio.pro" class="contact-email-link"
              >hello@ecobyteio.pro</a
            >
          </div>
        </div>
        <div class="contact-company-text-wrapper">
          <p class="contact-company-text">
            Company:
            <span class="contact-company-text-span"
              >EcoByteIO LLC, Friedrichstr. 120, Berlin, Germany</span
            >
          </p>
        </div>
        <p class="contact-text">
          Interested in a demo?<br />
          Request a free trial link — we’ll set you up within 24h.
        </p>
        <a href="#home" class="contact-get-btn">Request</a>
      </div>
    </div>
  </div>
</section>
