<section class="section dashboard-section" id="dashboard">
  <div class="container dashboard-container">
    <h2 class="section-title dashboard-title">Analytics Dashboard</h2>
    <p class="section-subtitle dashboard-subtitle">
      See your footprint at a glance
    </p>
    <ul class="dashboard-list">
      <li class="dashboard-list-item">
        <picture>
          <source
            srcset="./img/dashboard/dashboard-img1-desk.png"
            media="(min-width: 1440px)"
            width="628"
            height="390"
          />
          <source
            srcset="./img/dashboard/dashboard-img1-mob.png"
            width="311"
            height="193"
          />
          <img
            class="dashboard-img"
            src="./img/dashboard/dashboard-img1-mob.png"
            alt="Dashboard"
            width="311"
            height="193"
            loading="lazy"
          />
        </picture>
        <div class="dashboard-text-wrapper">
          <p class="dashboard-item-text">
            Emissions by category (transport, energy, suppliers)
          </p>
        </div>
      </li>
      <li class="dashboard-list-item">
        <picture>
          <source
            srcset="./img/dashboard/dashboard-img2-desk.png"
            media="(min-width: 1440px)"
            width="628"
            height="390"
          />
          <source
            srcset="./img/dashboard/dashboard-img2-mob.png"
            width="311"
            height="193"
          />
          <img
            class="dashboard-img"
            src="./img/dashboard/dashboard-img2-mob.png"
            alt="Dashboard"
            width="311"
            height="193"
            loading="lazy"
          />
        </picture>
        <div class="dashboard-text-wrapper">
          <p class="dashboard-item-text">Month-over-month reduction progress</p>
        </div>
      </li>
      <li class="dashboard-list-item">
        <picture>
          <source
            srcset="./img/dashboard/dashboard-img3-desk.png"
            media="(min-width: 1440px)"
            width="628"
            height="390"
          />
          <source
            srcset="./img/dashboard/dashboard-img3-mob.png"
            width="311"
            height="193"
          />
          <img
            class="dashboard-img"
            src="./img/dashboard/dashboard-img3-mob.png"
            alt="Dashboard"
            width="311"
            height="193"
            loading="lazy"
          />
        </picture>
        <div class="dashboard-text-wrapper">
          <p class="dashboard-item-text">Benchmarks against industry average</p>
        </div>
      </li>
      <li class="dashboard-list-item">
        <picture>
          <source
            srcset="./img/dashboard/dashboard-img4-desk.png"
            media="(min-width: 1440px)"
            width="628"
            height="390"
          />
          <source
            srcset="./img/dashboard/dashboard-img4-mob.png"
            width="311"
            height="193"
          />
          <img
            class="dashboard-img"
            src="./img/dashboard/dashboard-img4-mob.png"
            alt="Dashboard"
            width="311"
            height="193"
            loading="lazy"
          />
        </picture>
        <div class="dashboard-text-wrapper">
          <p class="dashboard-item-text">Forecast for next 12 months</p>
        </div>
      </li>
    </ul>
  </div>
</section>
