<section class="section faq-section" id="faq">
  <div class="container faq-container">
    <h2 class="section-title faq-title">FAQ</h2>
    <p class="section-subtitle faq-subtitle">Answers to common questions</p>
    <ul class="faq-list">
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text"
            >Do we need sustainability experts in-house?</span
          >
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="14" height="14">
              <use href="./img/sprite.svg#icon-down-arrow"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          No, EcoByteIO is built to be used by non-experts with automated
          guides.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Is the platform EU-compliant?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="14" height="14">
              <use href="./img/sprite.svg#icon-down-arrow"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Yes, we align with EU taxonomy, CSRD, and GHG Protocol.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">How do you handle data security?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="14" height="14">
              <use href="./img/sprite.svg#icon-down-arrow"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Encrypted storage, GDPR compliance, and EU-based servers.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text"
            >Can we integrate with existing tools?</span
          >
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="14" height="14">
              <use href="./img/sprite.svg#icon-down-arrow"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Absolutely — we support APIs and connectors for ERP, CRM, and
          accounting systems.
        </p>
      </li>
    </ul>
  </div>
</section>
