<footer class="footer" id="footer">
  <div class="container footer-container">
    <div class="footer-top-wrapper">
      <a class="footer-logo-link" href="./">
        <picture>
          <source
            srcset="./img/footer/footer-logo-desk.png"
            media="(min-width: 1440px)"
            width="98"
            height="59"
          />
          <source
            srcset="./img/footer/footer-logo-mob.png"
            width="70"
            height="50"
          />
          <img
            class="header-logo-img"
            src="./img/footer/footer-logo-mob.png"
            alt="Logo"
            width="70"
            height="50"
          />
        </picture>
      </a>
    </div>
    <div class="footer-bottom-wrapper">
      <div class="footer-nav-wrapper">
        <nav class="footer-nav">
          <ul class="footer-privacy-list">
            <li class="footer-privacy-item">
              <a class="footer-privacy-link" href="./privacy-policy.html"
                >Privacy Policy</a
              >
            </li>
            <li class="footer-privacy-item">
              <a class="footer-privacy-link" href="./terms-and-conditions.html"
                >Terms of Service</a
              >
            </li>
            <li class="footer-privacy-item">
              <a class="footer-privacy-link" href="./cookies-policy.html"
                >Cookies Policy</a
              >
            </li>
          </ul>
        </nav>
        <div class="footer-contact-wrapper">
          <p class="footer-contact-text">Contact</p>
          <div class="footer-email-wrapper">
            <svg class="email-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-mail"></use>
            </svg>
            <div class="footer-email-text-wrapper">
              <p class="footer-email-text">Email:&nbsp;</p>
              <a href="mailto:hello@ecobyteio.pro" class="footer-email-link"
                >hello@ecobyteio.pro</a
              >
            </div>
          </div>
        </div>
      </div>
      <p class="footer-bottom-text">
        © 2025 EcoByteIO LLC. All rights reserved.
      </p>
    </div>
  </div>
</footer>
