<section class="section hero-section" id="home">
  <div class="hero-wrapper">
    <div class="container hero-container">
      <h1 class="hero-title">
        Turning carbon data into<br />
        climate action
      </h1>
      <p class="hero-top-text">
        EcoByteIO helps organizations transform their sustainability goals into
        measurable results.
      </p>
      <p class="hero-bottom-text">
        Our software automates the collection of data from logistics, energy
        use, procurement, and more — providing a real-time view of emissions.
      </p>
    </div>
  </div>
</section>
