<section class="section pricing-section" id="pricing">
  <div class="pricing-top-wrapper">
    <div class="container pricing-container">
      <h2 class="section-title pricing-title">Plans & Pricing</h2>
      <p class="section-subtitle pricing-subtitle">
        Scale your sustainability effort
      </p>
    </div>
  </div>
  <div class="pricing-bottom-wrapper">
    <div class="container pricing-container">
      <ul class="pricing-list">
        <li class="pricing-list-item">
          <div class="pricing-item-top-wrapper">
            <h3 class="pricing-item-title">Starter</h3>
            <p class="pricing-item-text">up to 20 employees</p>
          </div>
          <div class="pricing-item-bottom-wrapper">
            <p class="pricing-item-price">€79/month</p>
          </div>
        </li>
        <li class="pricing-list-item">
          <div class="pricing-item-top-wrapper">
            <h3 class="pricing-item-title">Growth</h3>
            <p class="pricing-item-text">up to 200 employees</p>
          </div>
          <div class="pricing-item-bottom-wrapper">
            <p class="pricing-item-price">€249/month</p>
          </div>
        </li>
        <li class="pricing-list-item">
          <div class="pricing-item-top-wrapper">
            <h3 class="pricing-item-title">Enterprise</h3>
          </div>
          <div class="pricing-item-bottom-wrapper">
            <p class="pricing-item-text">
              Custom — includes dedicated analyst support
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
