<section class="section studies-section" id="studies">
  <div class="container studies-container">
    <h2 class="section-title studies-title">Case Studies</h2>
    <p class="section-subtitle studies-subtitle">Impact you can measure</p>
    <ul class="studies-list">
      <li class="studies-list-item">
        <picture>
          <source
            srcset="./img/studies/studies-img1-desk.png"
            media="(min-width: 1440px)"
            width="302"
            height="295"
          />
          <source
            srcset="./img/studies/studies-img1-mob.png"
            width="148"
            height="145"
          />
          <img
            class="studies-img"
            src="./img/studies/studies-img1-mob.png"
            alt="Avatar"
            width="148"
            height="145"
            loading="lazy"
          />
        </picture>
        <div class="studies-text-wrapper">
          <p class="studies-item-title">RetailCo</p>
          <p class="studies-item-country">(Netherlands)</p>
          <p class="studies-item-text">
            Reduced logistics footprint by 18% after optimizing fleet routes.
          </p>
        </div>
      </li>
      <li class="studies-list-item">
        <picture>
          <source
            srcset="./img/studies/studies-img2-desk.png"
            media="(min-width: 1440px)"
            width="302"
            height="295"
          />
          <source
            srcset="./img/studies/studies-img2-mob.png"
            width="148"
            height="145"
          />
          <img
            class="studies-img"
            src="./img/studies/studies-img2-mob.png"
            alt="Avatar"
            width="148"
            height="145"
            loading="lazy"
          />
        </picture>
        <div class="studies-text-wrapper">
          <p class="studies-item-title">TechHub</p>
          <p class="studies-item-country">(Germany)</p>
          <p class="studies-item-text">
            Achieved CSRD-compliant reporting in under 4 weeks.
          </p>
        </div>
      </li>
      <li class="studies-list-item">
        <picture>
          <source
            srcset="./img/studies/studies-img3-desk.png"
            media="(min-width: 1440px)"
            width="302"
            height="295"
          />
          <source
            srcset="./img/studies/studies-img3-mob.png"
            width="148"
            height="145"
          />
          <img
            class="studies-img"
            src="./img/studies/studies-img3-mob.png"
            alt="Avatar"
            width="148"
            height="145"
            loading="lazy"
          />
        </picture>
        <div class="studies-text-wrapper">
          <p class="studies-item-title">EduCampus</p>
          <p class="studies-item-country">(Spain)</p>
          <p class="studies-item-text">
            Cut electricity emissions by 12% through scenario planning.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
