<section class="section works-section" id="works">
  <div class="works-top-wrapper">
    <div class="container works-container">
      <h2 class="section-title works-title">Platform works</h2>
      <p class="section-subtitle works-subtitle">One tool, many solutions</p>
    </div>
  </div>
  <div class="works-bottom-wrapper">
    <div class="container works-container">
      <ul class="works-list">
        <li class="works-list-item">
          <p class="works-item-number">1</p>
          <p class="works-item-text">
            Connect company data sources (API, spreadsheets, invoices)
          </p>
        </li>
        <li class="works-list-item">
          <p class="works-item-number">2</p>
          <p class="works-item-text">
            Platform calculates carbon emissions per category
          </p>
        </li>
        <li class="works-list-item">
          <p class="works-item-number">3</p>
          <p class="works-item-text">
            Visual dashboard highlights key hotspots
          </p>
        </li>
        <li class="works-list-item">
          <p class="works-item-number">4</p>
          <p class="works-item-text">
            Generate compliance or investor reports with 1 click
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
